{
  "presets": [
    ["@babel/preset-env",{
      "modules": false,
      "loose": false,
      "include":[
        "es6.map",
        "es6.set"
      ]
    }]
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}