
.pop-in-enter-active,
.pop-in-leave-active,
.pop-out-enter-active,
.pop-out-leave-active {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #fbf9fe;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0.6, 0.2, 1);
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    
}
.pop-out-enter {
    transform: translate3d(-33%, 0, 0);
    opacity: 1;
    z-index: 1;
}

.pop-out-enter-to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    z-index: 1;
}

.pop-out-leave {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    z-index: 2;
}

.pop-out-leave-to {
    transform: translate3d(100%, 0, 0);
    opacity: 1;
    z-index: 2;
}

.pop-in-enter {
    transform: translate3d(100%, 0, 0);
    opacity: 1;
    z-index: 2;
}

.pop-in-enter-to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    z-index: 2;
}

.pop-in-leave {
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    z-index: 1;
}

.pop-in-leave-to {
    transform: translate3d(-33%, 0, 0);
    opacity: 0;
    z-index: 1;
}

.pop-out-leave-active
.pop-in-enter-active {
    box-shadow: -5px 0 3px rgba(0, 0, 0, .15);
}